{# Child template "checkout.html.twig" #}
{% extends "base.html.twig" %}
{% block content %}
    {% if items is empty %}
        <p>There are currently no items in your cart.</p>
    {% else %}
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <input type="hidden" value="{{item.name}}" name="domain-names[]">
                <td class="price">€{{item.price|number_format(2, '.' , ',')}}</td>
                <input type="hidden" value="{{item.price}}" name="domain-prices[]">
            </tr>
            {% endfor %}
            <tr class="seperator">
                <td>Total before VAT</td>
                <td class="total">€{{subtotal|number_format(2, '.' , ',')}}</td>
            </tr>
            <tr>
                <td>VAT</td>
                <td class="total">€{{vat|number_format(2, '.' , ',')}}</td>
            </tr>
            <tr>
                <td>Total incl. VAT</td>
                <td class="total">€{{(total)|number_format(2, '.' , ',')}}</td>
            </tr>
        </table>
        <input type="hidden" value="{{subtotal}}" name="subtotal">
        <input type="hidden" value="{{vat}}" name="vat">
        <input type="hidden" value="{{total}}" name="total">
        <button type="submit" name="checkout">Checkout</button>
    </form>
    {% endif %}
{% endblock %}