{# Child template "checkout.html.twig" #}
{% extends "base.html.twig" %}
{% block content %}
    {% if items is empty %}
        <p>There are currently no items in your cart.</p>
    {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            {% set beforeTax = 0 %}
            {% set tax = 0 %}
            {% set afterTax = 0 %}
            {% for item in items %}
            {% set beforeTax = beforeTax + item.price %}
            {% set afterTax = beforeTax * 1.21 %}
            {% set tax = afterTax - beforeTax %}
            <tr>
                <td>{{item.name}}</td>
                <td class="price">€{{item.price|number_format(2, '.' , ',')}}</td>
            </tr>
            {% endfor %}
            <tr class="seperator">
                <td>Total before VAT</td>
                <td class="total">€{{beforeTax|number_format(2, '.' , ',')}}</td>
            </tr>
            <tr>
                <td>VAT</td>
                <td class="total">€{{tax|number_format(2, '.' , ',')}}</td>
            </tr>
            <tr>
                <td>Total incl. VAT</td>
                <td class="total">€{{(afterTax)|number_format(2, '.' , ',')}}</td>
            </tr>
        </table>
        <form method="post">
            <button type="submit" name="checkout">Checkout</button>
        </form>
    {% endif %}
{% endblock %}