{# Child template "orders.html.twig" #}
{% extends "base.html.twig" %}
{% block content %}
    {% if orders is not empty and items is not empty %}
        <table>
            <tr>
                <th>Order ID</th>
                <th>Subtotal</th>
                <th>VAT</th>
                <th>Total</th>
            </tr>
        {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.subtotal}}</td>
                <td>{{order.vat}}</td>
                <td>{{order.total}}</td>
            </tr>
        {% endfor %}
        </table>
        <table>
            <tr>
                <th>Order ID</th>
                <th>Domain Name</th>
                <th>Price</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.order_id}}</td>
                <td>{{item.domain}}</td>
                <td>{{item.price}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>You have made no orders</p>
        {% endif %}
{% endblock %}