{% extends "base.html.twig" %}
{% block content %}
    <section>
        <form method="post" class="search-form">
            <label for="search">Search available domains:</label>
            <input type="text" id="search" name="name" value="{{ name }}"required>
            <button type="submit" name="submitSearch" value="Submit">Submit</button>
        </form>
    </section>
    <hr>
    {% if results is not empty %}
        <table class="domain-list">
            <tr>
                <th>Domain Name</th>
                <th>Status</th>
                <th>Price</th>
                <th>Currency Type</th>
                <th>Status</th>
            </tr>
        {% for result in results %}
            <tr class="domains">
                <td>{{ result.domain }}</td>
                <td>{{ result.status }}</td>
                <td>€{{ result.price.product.price }}</td>
                <td>{{ result.price.product.currency }}</td>
                {% if result.status == 'free' %}
                    <form method="post">
                        <input type="hidden" value="{{ result.domain }}" name="domain-name">
                        <input type="hidden" value="{{ result.status }}" name="domain-status">
                        <input type="hidden" value="{{ result.price.product.price }}" name="domain-price">
                        <input type="hidden" value="{{ result.price.product.currency }}" name="domain-currency-type">
                        <input type="hidden" value="{{ name }}" name="search-term">
                        <td><button type="submit" name="add-to-cart">Add to cart</button></td>
                    </form>
                {% else %}
                    <td class="in-use">Domain is in use</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}